h1{
    color: rgb(12, 217, 253);
    margin-left: 50%;
}
body{
    background-color: #749C75
}

.foto{   
    width: auto;
    height: auto; 
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}


#boton1{
    display: block;
    margin: 1rem auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #31493c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#boton2{
    display: block;
    margin: 1rem auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #31493c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

#boton3{
    display: block;
    margin: 1rem auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #31493c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cambioAmarillo{
    background-color: #31493c;
    color: rgb(255, 255, 255);
}

#cambioNegro{
    background-color: #31493c;
    color: white;
}
#cambioVerde{
    background-color: #31493c;
    color: #ffffff;
}
#cambioMarron{
    background-color: #31493c;
    color: #ffffff;
}

#cambioNaranja{
    background-color: #31493c;
    color: #ffffff;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
}